{%- import "macros/icon.html" as icon_macros -%}

{%- macro splash_header(section) -%}
	<div class="section-head">
		<h1 class="section-title">
			<span class="item">
				{% if section.extra.icons.logo %}
					{% set logochar =
					section.extra.icons.logo %}
				{% else %}
					{% set logochar = "󰫇" %}
				{% endif
				%}
				{% if section.extra.icons.goto %}
					{% set gotochar = section.extra.icons.goto %}
				{% else %}
					{% set gotochar = "󰁘" %}
				{% endif %}
				{{ icon_macros::logo(char=logochar, pad=true) }}
				<a href="{{ section.permalink | safe }}">{{ section.title }}</a>
			</span>
			<span class="leader"></span>
			<span class="goto">{{ icon_macros::goto(char=gotochar, pad=true) }}</span>
		</h1>
	</div>
{%- endmacro splash_header -%}

{%- macro content(section) -%}
	<div class="section-content">{{ section.content | safe }}</div>
{%- endmacro content -%}
