{% import "macros/post.html" as post_macros %}


{% macro content(page, summary) %}
    {%- if summary and page.summary %}
        <div class="post-content">
            {{ page.summary | safe }}
        </div>
        <div>
            <!-- &#xFE0E; -- force text style - some devices render this as emoji -->
            <a class="read-more button" href="{{ page.permalink | safe }}">
                <span class="button__text">Read more</span>&nbsp;
                <span class="button__icon">&#8617;&#xFE0E;</span>
            </a>
        </div>
    {% else %}
        <div class="post-content">
            {{ page.content | safe }}
        </div>
    {%- endif %}
{% endmacro content %}

{% macro header(page) %}
<div class=splashheader>
    <h1 class="post-title"><a href="{{ page.permalink | safe }}">{{ page.title }}</a></h1>
	{%- if page.description -%}
    <div class="splash-meta-inline">
		<h5>{{ page.description }}</h5>
    </div>
	{%- endif -%}
</div>
{% endmacro header %}


{% macro post_contents(pages) %}
<div class="postitems">
	<ul>
	{% for page in pages %}
		{% if page.draft %}
			{% continue %}
		{% endif %}

	{% endfor %}
	</ul>
</div>
{% endmacro post_contents %}

{% macro splash(page) %}
<div class="splashpage">
	{{ splash_macros::header(page=page) }}
	<br>
	{{ splash_macros::content(page=page, summary=false)}}
</div>
{% endmacro splash %}

