{% extends "index.html" %}

{% import "macros/splash.html" as splash_macros %}

{%- block title -%}
{{ title_macros::title(page_title=section.title, main_title=config.title) }}
{%- endblock title -%}


{% if section.pages %}
{% block content %}
<div class="post">
	{{ splash_macros::splash(page=section) }}
	<hr>
	{%- if paginator %}
		{%- set show_pages = paginator.pages -%}
	{% else %}
		{%- set show_pages = section.pages -%}
	{% endif -%}
	<div class="blog-posts">
		{%- for page in show_pages %}
		<div class = "post on-list">
			{{ post_macros::header(page=page) }}
			<br>
			{{ post_macros::content(page=page, summary=true) }}
		</div>
		{% endfor %}
	</div>
</div>

{{ splash_macros::post_contents(pages=section.pages) }}
{% endblock content %}
{% endif %}

