{% extends "index.html" %}

{% import "macros/splash.html" as splash_macros %}

{%- block title -%}
{{ title_macros::title(page_title=section.title, main_title=config.title) }}
{%- endblock title -%}

{% block content %}
<div class="post">
	<div class="pagesplash">
		{{ splash_macros::header(page=section) }}
		<br>
		{{ splash_macros::content(page=section, summary=false) }}
	</div>
	<hr>
	{% if section.pages %}
		{%- if paginator %}
			{%- set show_pages = paginator.pages -%}
		{% else %}
			{%- set show_pages = section.pages -%}
		{% endif -%}
		<div class="splash-items">
			{%- for page in show_pages %}
			<div class = "post on-list">
				{{ post_macros::header(page=page, summary=true) }}
				<br>
				{{ post_macros::content(page=page, summary=true) }}
			</div>
			{% endfor %}
		</div>
	{% endif %}
</div>
{% endblock content %}
